/* start of general styling */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/* start of header styling */
.holding-container {
  justify-content: space-between;
  border-bottom: 5px solid #7d97ad;
  box-sizing: border-box;
}

.logo-container {
  margin: 0 0 0 10px;
}

.logo {
  margin: 10px 0;
}

.designer-container {
  margin: 0 10px 0 0;
}

.designer {
  margin: 0;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: right;
}

.role {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  color: #2d3c49;
}

/* start of main content styling */

.content {
}

.site-picture-container {
  border: 10px solid #fff;
}

.site-pic {
  width: 100%;
}

/* start of work-portfolio styling */
.mockwork-title {
  color: #7d97ad;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0 0 10px;
}

.mockwork-container {
  border: 5px solid #800080;
}

.image-spacer {
  border-style: solid;
  border-width: 10px;
  border-color: white;
}

.project-container {
  width: 250px;
  border: 10px solid #fff;
  box-sizing: border-box;
}

.project-image {
  width: 100%;
  box-sizing: border-box;
}

.project-title {
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
}

.project-link {
  width: 100%;
  text-transform: lowercase;
  text-align: center;
  text-decoration: none;
  padding-bottom: 10px;
  box-sizing: border-box;
}
