
/* start of header styling */
header {
  color: #697681;
  border-style: solid;
  border-width: 20px;
  border-color: lightblue;
}

.holding-container {
  justify-content: space-between;
  box-sizing: border-box;
  border-style: solid;
  border-width: 20px;
  border-color: brown;
}

.logo-container {
  border-style: solid;
  border-width: 10px;
  border-color: orange;
}

.logo {
  border-style: solid;
  border-width: 5px;
  border-color: green;
}

.designer-container {
  border-style: solid;
  border-width: 10px;
  border-color: lightgreen;
}

.designer {
  text-transform: uppercase;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
}

.role {
  text-transform: uppercase;
  color: #2d3c49;
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

/* start of main content styling */

.content {
  border-style: solid;
  border-width: 20px;
  border-color: pink;
}

.site-picture-container {
  border-style: solid;
  border-width: 20px;
  border-color: grey;
}

.site-pic {
  width: 100%;
}

/* start of work-portfolio styling */
.mockwork-title {
  color: #7d97ad;
  border-style: solid;
  border-width: 20px;
  border-color: red;
}

.mockwork-container {
  border-style: solid;
  border-width: 20px;
  border-color: purple;
}

.image-spacer {
  border-style: solid;
  border-width: 10px;
  border-color: white;
}

.project-container {
  width: 250px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 20px;
  border-color: green;
}

.project-image {
  width: 100%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

.project-title {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  box-sizing: border-box;
}

.project-link {
  width: 100%;
  text-transform: lowercase;
  text-align: center;
  text-decoration: none;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: lightgreen;
  box-sizing: border-box;
}
