.holding-container {
  display: flex;
}

.site-picture-container {
  display: flex;
}

.attribution-notice {
  display: flex;
  flex-wrap: wrap;
}

.mockwork-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 300px) {
  .mockwork-container {
    justify-content: space-around;
  }
}

@media screen and (max-width: 420px) {
  .attribution-notice {
    font-size: 12px;
    margin-right: 12px;
  }
}
